.container{
    width: 100%;
    height: 100vh;
    
    display: flex;
    align-content: center;
    justify-content: center;

}
.calculator{
    background: rgba(16, 18, 18, 0.664);
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    box-shadow:-8px -8px 15px rgb(255,255,255,0.1),5px 5px 15px rgb(85, 128, 85);

    background: transparent;
    font-size: 20px;
    color: white;
    margin: 10px;
    cursor: pointer;
}
.display{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    background-color: rgb(158, 223, 202);
    border-radius: 5px;
}
form .display input{
    text-align: center;
    flex: 1;
    font-size: 40px;
    box-shadow: none;
   

}
form input.ac{
    width: 145px;
    color: rgb(250, 139, 3);

}
form input.operator{
    color: rgb(100, 165, 250);
}
form input.equal{
   color: rgb(234, 241, 5);
   width: 145px;
}
